@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Varela');

@import './colors.scss';

h1, h2 {
  font-family: 'Julius Sans One', sans-serif;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

h3, h4, h5, p {
  font-family: 'Varela', sans-serif;

}

h1 {
  font-size: 30px;
}

pre {
  font-family: 'Varela', sans-serif;
  color: $dark-grey;
  background-color: $white;
}
